<a href="https://colab.research.google.com/github/karimbsaid/FlaskSeries/blob/master/Tp1_%C3%A9nonc%C3%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TD 1: Environnement de programmation et premiers pas avec Python

---
## 2.Utilisation du notebook Python

Dans un premier temps, nous allons voir comment utiliser le notebook. Le notebook permet d'écrire du code que l'on peut évaluer au fur et à mesure. Plus tard, nous programmerons dans un fichier texte, en utilisant l'éditeur VisualStudioCode (VSCode dans la suite) et l'environnement qu'il fournit pour écrire des programmes en Python.

Un notebook contient des *cellules* qui sont de deux sortes: il y a des cellules de texte écrites dans un langage de mise en forme de texte appelé *Markdown*, et les cellules de code que vous allez remplir. Les cellules de code sont sur fond gris et un triangle gris apparait sur la gauche de la cellule lorsque votre souris la survole.

1. Dans la cellule de code suivante, tapez `1 + 1` puis évaluez la cellule en cliquant sur le triangle gris situé à gauche de la cellule.

In [50]:
1+1

2

2. Cliquez de nouveau sur cette cellule et appuyez sur les touches `SHIFT + ENTREE` du clavier.

**Note**: Cela évalue également la cellule de code. Remarquez le numéro qui s'affiche dans les crochets à gauche de la cellule de code : c'est *l'ordre d'évaluation* de la cellule.

3. Dans la cellule suivante, affectez le résultat de l'expression `1 + 1` à une variable notée `a`. Bien entendu, évaluez la cellule (on ne le rappellera pas systématiquement).

In [51]:
a=1+1

In [52]:
a

2

4. Remarquez que l'évaluation de cette cellule ne génère aucun *texte  en sortie*. Pour connaître la valeur de la variable `a`, tapez le nom de la variable dans la cellule suivante.

In [53]:
a

2

5. Testez maintenant l'expression `print(a)`.

In [54]:
print(a)

2

Le résultat est identique. La première méthode fonctionne dans le notebook, mais pas dans un programme Python. C'est pourquoi il vaut mieux utiliser la deuxième méthode qui repose sur l'utilisation de la *fonction native* `print()`. L'ensemble de ces fonctions est [disponible ici](https://docs.python.org/fr/3.5/library/functions.html).

6. Augmentez de 1 la valeur de `a`. L'expression doit donner le bon résultat quelle que soit la valeur de la variable.

In [55]:
a=a+1

Et vérifiez en affichant la valeur de `a`.

In [56]:
a

3

Dans la cellule suivante, affectez la valeur 5 à la variable `a` et la valeur 2 à la variable `b`, puis afficher les 2 valeurs avec l'expression `print(a, b)`.

In [57]:
a=5
b=2
print("a:",a)
print("b:",b)

a: 5
b: 2

15. Ecrivez le code qui permet d'échanger la valeur des variables `a` et `b`. Puis affichez leurs valeurs.

In [58]:
a,b=b,a

16. Pour enrichir l'affichage, recopiez l'expression `print("a vaut", a, "et b vaut", b)`.

In [59]:
print("a vaut", a, "et b vaut", b)

a vaut 2 et b vaut 5

17.  Recopiez l'affectation suivante `a = "hello world"`, puis affichez la valeur de `a`.

In [60]:
a = "hello world"

**Note**: la variable `a` contenait un entier, et maintenant une chaîne de caractères. En Python les variables ont un *type dynamique* contrairement au type statique où le type des variables est défini une fois pour toutes. De plus ce typage est *implicite*, c'est-à-dire qu'il est déterminé par les objets auxquels les variables font référence sans avoir besoin de l'écrire explicitement.

18. Afficher de nouveau la valeur de `a` sans utiliser la fonction `print`. Que constatez-vous?

19. Avant de passer à la suite, sauvegardez votre notebook.


-------------------
## 3.Types de données
En Python, toute variable ou expression possède un *type* qui définit, entre autres, les opérations que l'on peut lui  appliquer. Parmi les types natifs on peut citer les nombres entiers, les nombres flottants, les chaînes de caractères (string en anglais) et les booléens (Vrai ou Faux).


1. Prédisez le type de chacune des expressions suivantes. Vérifiez le à l'aide de la fonction `type()`:

* `5`
* `5.0`
* `"5"`
* `-5`
* `5 / 2`
* `5 // 2`
* ` 5 == 2  `
* `5 = 2`

In [61]:
a=5
print(type(a))
a=5.0
print(type(a))
a="5"
print(type(a))
a=-5
print(type(a))
a=5/2
print(type(a))
a=5//2
print(type(a))
a=5==2
print(type(a))
#a=5 = 2
#print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'bool'>

Ce sont les types de base du langage Python que nous allons étudier dans la suite. Notez que les nombres flottants s'écrivent avec un point et non avec une virgule.

2. Faites la même chose avec les expressions suivantes:

* `(5, 2)`
* `[5, 2]`
* `{5, 2}`

In [62]:
a=(5, 2)
print(type(a))
a=[5, 2]
print(type(a))
a={5, 2}
print(type(a))

<class 'tuple'>
<class 'list'>
<class 'set'>

Ce sont des types avancés, qui permettent de construire des structures de données plus complexes, que nous apprendrons à manipuler plus tard. Pouvez-vous trouver une expression ayant un autre type?  Vous pouvez consulter la [documentation Python sur les types](https://docs.python.org/fr/3/library/stdtypes.html).

3. Maintenant, affectez une valeur à une variable `x`, et écrivez le code qui affiche, par exemple, `le type de x est <class 'int'>` si jamais la valeur stockée dans `x` est un entier.

In [63]:
x=5
print('le type de x est ',type(x))

le type de x est  <class 'int'>


### 3.1 Type numérique entier

1. Affectez une valeur entière à une variable `v`.

In [64]:
v = 149

2. Ecrivez le résultat de la division entière de `v` par 11. Par exemple, si `v` vaut 149, le résultat affiché doit être de la forme:

`149 = 13 x 11 + 6`

In [65]:
resultat = v // 11
reste = v % 11
print(f"{v} = {resultat} x 11 + {reste}")

149 = 13 x 11 + 6

3. Prédisez le résultat des expressions suivantes, puis évaluer le code:
* `3 * (10 / 3)`
* `3 * (10 // 3)`
* `(3 * 10) // 3`

In [66]:
print(3 * (10 / 3))
print(3 * (10 // 3))
print((3 * 10) // 3)

10.0
9
10

5. Le résultat change-t'il si on retire les parenthèses des expressions précédentes?

réponse: **oui**


6. Affectez un nombre entier à une variable, puis écrivez une expression qui affiche `True` si la variable est paire et `False` sinon.

In [67]:
x=5
paire = x % 2 == 0
print(paire)
#autre solution
if (x % 2 ==0):
  print(True)
else:
  print(False)

False
False

7. L'opérateur puissance s'écrit `**`. Par exemple, 2 à la puissance 10 s'écrit `2 ** 10`. Affichez la valeur de 2 puissance 256. Combien de chiffres a ce nombre (en évitant de compter sur l'écran)?

In [68]:
print(2**10)

1024

Ecrire l'expression qui donne le dernier chiffre du nombre référencé par la variable `a`.

In [69]:
a=25
dernier_chiffre = a % 10
print(dernier_chiffre)

5

Ecrire l'expression qui donne l'avant-dernier chiffre du nombre référencé par la variable `a`.

In [70]:
avant_dernier_chiffre = (a // 10) % 10
print(avant_dernier_chiffre)

2


### 3.2 Nombres flottants

1. L'expression `0.2 + 0.4` est-elle égale, supérieure ou inférieure à `0.6`?

In [71]:
a=0.2+0.4 == 0.6
print(a)

False

2. Affectez la valeur 0.5 à une variable `x`. Multipliez `x` par $2^{30}$ puis convertissez le résultat obtenu en valeur entière (utilisez la fonction `int()`) puis divisez le résultat par $2^{30}$ (faire une division flottante).

In [72]:
x = 0.5
resultat_multiplication = x * 230
resultat_entier = int(resultat_multiplication)
resultat_final = resultat_entier / 230
print(resultat_final)
x=0.1
resultat_multiplication = x * 230
resultat_entier = int(resultat_multiplication)
resultat_final = resultat_entier / 230
print(resultat_final)

0.5
0.1

3. Remplacez la valeur de `x` par 0.1 et refaites le calcul.

### 3.3 Chaînes de caractères

1. Dans la cellule de code suivante, affichez le résultat de l'expression `a + b`, et de `b + a`

In [73]:
a = "hello"
b = 'world'
print(a+b)

helloworld

**Notes**: les chaînes de caractères peuvent s'écrire avec des guillemets simples ou doubles (d'autres formes existent). L'opération d'addition de chaînes est appelée *concaténation*.

2. Dans la cellule précédente, ajoutez un espace entre `hello` et `world` sans modifier les variables.

In [74]:
print(a+" "+b)

hello world

3. Avant d'afficher le résultat, prédire ce que valent `a * 3` et `(a + b) * 2`?

In [75]:
print(a*3)
print((a+b)*2)

hellohellohello
helloworldhelloworld

4. On peut appliquer des *méthodes* (ce sont des fonctions qui s'appliquent à un certain type d'objets) à une chaîne de caractères. Par exemple tester ce que vaut `a.upper()`.

In [76]:
a.upper()

'HELLO'

Vous pouvez voir la liste des méthodes associées aux chaînes de caractères (ainsi que sur les autres types natifs) sur [cette page](https://docs.python.org/fr/3/library/stdtypes.html#string-methods).

5. La variable `a` a-t'elle été modifiée?

In [77]:
a.capitalize()
a.casefold()

'hello'

6. Que vaut `a > b`?

In [78]:
a>b

False

7. Quelle est la signification de cette comparaison?

**comparant les valeurs ASCII des caractères un par un**

### 3.4 Conversions

1. Dans la cellule de code suivante, devinez ce que vaut `a * 2` avant de l'afficher.

In [79]:
a = "32"
print(a*2)

3232

2. Utilisez la fonction de conversion `int()` pour obtenir le résultat de la multiplication de nombres entiers (64 ici).

In [80]:
x = 64
print(int(x))

64

3. Ecrivez l'expression `s = input("Tape quelquechose au clavier")` puis affichez `s`. Que se passe-t'il?

In [81]:
s = input("Tape quelquechose au clavier")
print(s)

Tape quelquechose au clavierbonjour
bonjour

4. Recopiez le code de la cellule précédente. L'utilisateur doit saisir un nombre entier puis vous affichez ce nombre multiplié par 2.

In [82]:
a = input("donner un entier : ")
print("resultat de multiplication = ",int(a)*2)

donner un entier : 25
resultat de multiplication =  50

5. ́Ecrivez le code qui demande son âge à l’utilisateur et répond en utilisant sa réponse au milieu d’une phrase, comme par exemple en lui donnant l’âge qu’il aura en 2031 le même jour.

In [83]:
age = input("Quel est votre âge ? ")
age_2031 = int(a) + (2031 - 2024)
print(age_2031)

Quel est votre âge ? 22
32

6. Avant de passer à la suite, sauvegardez votre notebook sur github.

---
## Exercices supplémentaires

1. Parmi les chaînes de caractères suivantes, lesquelles peuvent être des noms de variable?
* `f`
* `l`
* `f2`
* `2f`
* `totolehero`
* `toto_le_hero`
* `import`
* `toto2-le-retour`

Et parmi les noms corrects, lesquels ne sont pas recommandés (voir la [PEP8](https://www.python.org/dev/peps/pep-0008/#naming-conventions))?

**f**\
**l** \
**f2**\
**totolehero**\
**toto_le_hero**

2. Demandez à l'utilisateur de rentrer un nombre, puis afficher sa racine carrée en faisant une phrase.

In [84]:
import math
a=input("donner un entier")
a=int(a)
print(f"racine carée de {a} est : ",math.sqrt(a))

donner un entier25
racine carée de 25 est :  5.0

3. Ecrivez le code qui affiche:
* la chaı̂ne ”aaaaaa...” (250 ”a”)
* la chaı̂ne ”bbbb....a” (250 ”b” suivis d’un ”a”)
* la chaı̂ne ”bbbb....aaabbb...” (250 ”b” suivis d’un ”a” suivi de 100 b)
* 50 fois ”bonjour” en allant à la ligne à chaque fois (utilisez ”\n”)

In [85]:
chaine_a = 'a' * 250
print(chaine_a)
chaine_ba = 'b' * 250 + 'a'
print(chaine_ba)
chaine_baabbb = 'b' * 250 + 'a' + 'b' * 100
print(chaine_baabbb)
print('bonjour\n' * 50)

aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbba
bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbabbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour
bonjour

4. Evaluez chaque expression numérique étape par étape selon la priorité des opérateurs.
    * a) 3 + 4 * 6
    * b) 3 * 4 / 6 + 6
    * c) 2 * 3 / 12 * 8 / 4
    * d) 10 * ( 1 + 7 * 3 )
    * e) 20 - 2 / 6 + 3
    * f) ( 20 - 2 ) / ( 6 + 3 )
    * g) 10 + 15 % 2 + 4.3
    * h) 3 * 4 / 6 + 6

In [86]:
print("a) : ", 3 + 4 * 6)
print("b) : ", 3 * 4 / 6 + 6)
print("c) : ", 2 * 3 / 12 * 8 / 4)
print("d) : ", 10 * ( 1 + 7 * 3 ))
print("e) : ", 20 - 2 / 6 + 3)
print("f) : ", 20 - 2 / 6 + 3)
print("g) : ", 10 + 15 % 2 + 4.3)
print("h) : ", 3 * 4 / 6 + 6)

a) :  27
b) :  8.0
c) :  1.0
d) :  220
e) :  22.666666666666668
f) :  22.666666666666668
g) :  15.3
h) :  8.0

5. Saisir, Calculer et Afficher

    * (1) Ecrire un code qui permet de faire les tâches suivantes :
        * a) Saisir deux variables, a et b, de type entier.
        * b) Calculer la somme de ces deux variables.
        * c) Affecter le résultat dans la variable « Somme ».
        * d) Calculer le quotient de ces deux variables.
        * e) Affecter le résultat dans la variable « Quotient ».
        * f) Afficher les valeurs des variables « Somme » et « Quotient ». Le message doit être sous la forme suivante «La somme de 3 et 1 est 4 et le quotient de 3 sur 1 est 3 »
        
    * (2) Quel est le nombre total de variables utilisées pour cet algorithme ?
    
    * (3) On veut, maintenant, minimiser le nombre de variables utilisées par le code précédent.
        * a) Quel est le nombre maximal de variables qu’on peut supprimer ?
        * b) Quel est le nombre minimal de variables qu’on peut supprimer ?
        
    * (4) Ecrire le code correspondant à 3.a.

In [87]:
# (1) a)
a = int(input("Saisir la valeur de a : "))
b = int(input("Saisir la valeur de b : "))
# (1) b)
somme = a + b
quotient = a / b
print(f"La somme de {a} et {b} est {somme} et le quotient de {a} sur {b} est {quotient}")
print(f"La somme de {a} et {b} est {a + b} et le quotient de {a} sur {b} est {a / b}")

Saisir la valeur de a : 5
Saisir la valeur de b : 6
La somme de 5 et 6 est 11 et le quotient de 5 sur 6 est 0.8333333333333334
La somme de 5 et 6 est 11 et le quotient de 5 sur 6 est 0.8333333333333334

6. Ecrire un code qui permet de calculer le diamètre, le périmètre et la surface d’un cercle. Pour ce faire nous allons procéder comme suit :
        * a) Déclarer la variable constante 𝝅 et la variable Ray contenant la valeur 10.
        * b) Déclarer trois variables DM, PR et SR.
        * c) Affecter respectivement à DM, PR et SR les valeurs du diamètre, du périmètre et de la surface d’un cercle dont le rayon est Ray.
        * d) Afficher le message suivant "Le cercle de rayon AA a pour diamètre BB, pour périmètre CC et pour surface DD".

In [88]:
import math

pi = math.pi
Ray = 10
DM = PR = SR = 0
DM = 2 * Ray
PR = 2 * pi * Ray
SR = pi * (Ray ** 2)
print(f"Le cercle de rayon {Ray} a pour diamètre {DM}, pour périmètre {PR}, et pour surface {SR}.")

Le cercle de rayon 10 a pour diamètre 20, pour périmètre 62.83185307179586, et pour surface 314.1592653589793.